<%# http://localhost:3000/restaurants/(id) %>


<h1><strong><%= @restaurant.name %>'s Info</strong></h1>

<h3><strong>Name:</strong> <%= @restaurant.name %></h3>
<h3><strong>Address:</strong> <%= @restaurant.address %></h3>
<h3><strong>Phone Number:</strong> <%= @restaurant.phone_number %></h3>
<h3><strong>Category:</strong> <%= @restaurant.category.capitalize %></h3>

<h3><strong>Reviews:</strong></h3>

  <% @restaurant.reviews.each do |review| %>
    <h3> Rating: <%= review.rating %>
    --> <%= review.content %>
    </h3>
  <% end %>


<h4><%= link_to "Back to Restaurants List", restaurants_path %></h4>
<%# pass an arguement to the path, bcs we need the id (in the routes (console) where you have ... %>
<%# ... /restaurants/:restaurant_id/reviews/new COLUMN BEFORE ID) %>
<h4><%= link_to "Add a Review", new_restaurant_review_path(@restaurant) %></h4>
